%footer
  .container
    .row
      .col-md-4
        %span.copyright
          = "Copyright &copy; IT Scaffold #{Time.now.year}".html_safe

      .col-md-4
        %ul.list-inline.social-footer
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-linkedin
      .col-md-4
        %ul.list-inline.quicklinks
          %li
            = link_to "Privacy Policy", privacy_policy_path