%header
  .container
    .intro-text
      .intro-lead-in Welcome to IT Scaffold
      .intro-heading We're Ready to Build Your Dreams
      %a.page-scroll.btn.btn-xl{href: "#services"} See what it's all about