%header
  .container
    .intro-text
      .intro-lead-in Welcome to IT Scaffold
      .intro-heading Your Enterprise Technology Partner
      %a.page-scroll.btn.btn-xl{href: "#about"} More Information