%section#services.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Our Services
        %h3.section-subheading.text-muted How we help enterprises succeed.
    .row
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => "img/team/1.jpg"}
            %h4 Enterprise business setup
            %p.text-muted email, file sharing
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => "img/team/2.jpg"}
            %h4 Employee Management
            %p.text-muted ERP Systems, accounting software, EDI configuration
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => "img/team/3.jpg"}
            %h4 Mobile
            %p.text-muted iOS/Android apps, mobile app integrations
    .row
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => "img/team/1.jpg"}
            %h4 Accounting
            %p.text-muted ERP systems, accounting software, EDI configuration
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => "img/team/2.jpg"}
            %h4 Data Management
            %p.text-muted Databases, data science, server deployment / management
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => "img/team/3.jpg"}
            %h4 Marketing
            %p.text-muted Web design, search engine optimization, content marketing
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %p.large.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.