// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-footer {
	padding-top: 10px;
}

.header-logo {
	width: 200px;
}

.header-logo {
	margin-top: -15px;
}